.case-ezk__image-section--fright-night,
.case-ezk__image-section--faq,
.case-ezk__image-section--subscribe,
.case-ezk__image-section--bulk-orders {
  padding: get-d(130px) get-d(24px) get-d(130px);

  @include respond(xl) {
    padding: 130px 24px 130px;
  }
}
.case-ezk__mockup--dontmiss {
  padding: get-d(130px) 0 0;

  @include respond(xl) {
    padding: 130px 0 0;
  }
}
