.case-ezk__section--social {
  position: relative;
  overflow: hidden;
  padding: get-d(130px) get-d(60px) get-d(130px);
  @include respond(xl) {
    padding: 130px 60px 130px;
  }
  @include respond(md) {
    padding: 60px 20px;
  }
}

.case-ezk-social {
  position: relative;
  width: get-d(1309px);
  margin: 0 auto;
  @include respond(xl) {
    width: 1309px;
  }
  @include respond(md) {
    width: 100%;
  }

  &__heading {
    position: relative;
    width: get-d(732px);
    height: get-d(110px);
    margin: 0 0 get-d(120px);
    @include respond(xl) {
      width: 732px;
      height: 110px;
      margin: 0 0 120px;
    }
    @include respond(md) {
      width: auto;
      height: 36px;
      margin: 0 0 32px;
    }
  }

  &__heading-underline {
    position: absolute;
    top: get-d(68px);
    left: 0;
    width: get-d(732px);
    height: get-d(39px);
    z-index: 2;
    background: #eaecec;
    @include respond(xl) {
      top: 68px;
      width: 732px;
      height: 39px;
    }
    @include respond(md) {
      top: 24px;
      left: 0;
      width: 181px;
      height: 12px;
    }
  }

  &__title {
    position: absolute;
    margin: 0;
    top: 0;
    left: get-d(10px);
    z-index: 1;
    font-family: $ezk-font;
    font-weight: 100;
    color: $ezk-text-black;
    font-size: get-d(80px);
    line-height: get-d(95.46875px);
    @include respond(xl) {
      left: 10px;
      font-size: 80px;
      line-height: 95.46875px;
    }
    @include respond(md) {
      position: relative;
      top: 0;
      left: 0;
      font-size: 28px;
      line-height: 31px;
      font-weight: 110;
    }
  }

  &__leaves {
    position: absolute;
    top: get-d(-140px);
    left: get-d(-110px);
    width: get-d(415px);
    height: auto;
    z-index: 0;
    pointer-events: none;
    @include respond(xl) {
      top: -140px;
      left: -110px;
      width: 415px;
    }
    @include respond(md) {
      width: 140px;
      top: -40px;
      left: -20px;
    }
  }

  &__cards {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: get-d(24px);
    @include respond(xl) {
      gap: 24px;
    }
    @include respond(md) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__card {
    display: block;
    width: 100%;
    height: auto;
    border-radius: get-d(12px);
    z-index: 3;
    @include respond(xl) {
      border-radius: 12px;
    }
  }
}
