
@mixin bj-pos($top, $left) {
  top: get-d($top * 1px);
  left: get-d($left * 1px);
}

@mixin bj-rect($top, $left, $width, $height) {
  top: get-d($top * 1px);
  left: get-d($left * 1px);
  width: get-d($width * 1px);
  height: get-d($height * 1px);
}
