.case-blue-jay {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: $bj-font;
  color: $bj-text-black;
  background: $bj-page-bg;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__page {
    position: relative;
    width: get-d($bj-page-width);
    height: get-d($bj-page-height * 1px);
    margin: 0 auto;
  }

  &__section,
  &__image-section {
    position: absolute;
  }

  &__image-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond(md) {
    &__page {
      width: 100%;
      height: auto;
      padding: 0 0 96px;
    }

    &__section,
    &__image-section {
      position: static;
      width: 100%;
      height: auto;
      max-width: 100%;
      margin: 0 0 32px;
    }

    &__image-section img {
      width: 100%;
      height: auto;
    }

    &__image-section--logo {
      display: none;
    }
  }
}
