
$bj-page-width: 1440px;
$bj-page-height: 16677;

$bj-page-bg: #ffffff;
$bj-text-black: #1e2929;
$bj-text-muted: #1e2929;
$bj-accent: #34bbbb;

$bj-font: -apple-system, BlinkMacSystemFont, 'SF Pro', sans-serif;
