$eq-page-width: 1440px;
$eq-page-height: 22993;
$eq-page-bg: #0a1324;
$eq-text-white: #ffffff;
$eq-text-light: #e4e3e3;
$eq-accent: #1570ef;
$eq-font:
  'Manrope',
  system-ui,
  -apple-system,
  sans-serif;
